<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <div id="sidebar" class="sidebar">
            <h2>SPR-D9</h2>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('manage_console') }}">Console</a>
            <a href="https://discord.gg/wix">Help</a>
            <a href="https://discord.gg/wix">Discord</a>
            <a href="https://github.com/katy-the-kat/SpaceRAC">Github</a>
            <a href="https://demo.is-a.space">Demo</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <div id="menu-toggle" onclick="toggleSidebar()">☰</div>

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
