<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Console</title>
    <link rel="stylesheet" href="/static/stylecon.css">
</head>
<body>
    <button id="menu-toggle" onclick="toggleSidebar()">☰</button>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar">
            <h2>SPR-D9</h2>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('manage_console') }}">Console</a>
            <a href="https://discord.gg/kvm">Help</a>
            <a href="https://discord.gg/kvm">Discord</a>
            <a href="https://github.com/katy-the-kat/SpaceRAC">Github</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <div id="console-container">
            <iframe src="{{ tmate_link }}" width="100%" height="500" frameborder="0"></iframe>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            document.getElementById('sidebar').classList.toggle('active');
        }
    </script>
</body>
</html>
