{% extends 'base.html' %}

{% block content %}
<!-- Console Content -->
<div id="console-container">
    <iframe src="{{ tmate_link }}" width="100%" height="600" frameborder="0"></iframe>
</div>
{% endblock %}

<style>
    /* Console Container Styling */
    #console-container {
        padding: 20px;
        flex-grow: 1;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    iframe {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
</style>
